.pagination {
  display: flex;
  flex-direction: row;
}

.page-item {
  display: flex;
  font-size: 14px;
  width: 24px;
  height: 28px;
  border: solid 1px rgb(229, 231, 235);
  justify-content: center;
  align-items: center;
  color: #898f98;
}

.page-item:hover {
  background-color: rgb(229, 231, 235);
}

.page-item.active{
  background-color: #03c9d7;
  color: #fff;
}