.profile-avatar-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  transition: all 0.3 ease;
  
}

.profile-avatar-wrapper:hover {
  transform: scale(1.05);
  cursor: pointer;
  
}

.profile-avatar-wrapper img {
  box-shadow: 1px 1px 15px -15px #000 !important;
  transition: all 0.3 ease;
  border-radius: 50%;
}

.profile-avatar-wrapper svg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 100%;
  width: 50%;
  opacity: 0;
  text-align: center;
  transition: all 0.3 ease;
}

.profile-avatar-wrapper:hover svg{
  transition: all 0.3 ease;
  opacity: 0.9;
}

.profile-avatar-wrapper:hover img{
  transition: all 0.3 ease;
  opacity: 0.3;
}



.profile-avatar-input {
  display: none;
}

