:root {
  --primary-bg: #242526;
  --secondary-bg: #fff;
--primary-text-color: #060506;
  --secondary-text-color: #cecece;
  --border-radius: 8px;
  --speed: 300ms;
  --bg-light-gray: #F7F7F7;
  --primary-color: rgb(30, 77, 183);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;