.data-table {
  width: 100%; 
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

table th, table td {
  border-bottom: 1px solid #ddd;
  text-align: center;
  
}

.data-row:hover {
  background: rgb(247, 247, 247);
}

th {
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
  font-family: "DM sans", "sans-serif";
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
}

td {
  font-size: 14px;
  font-weight: 500;
  color: #777E89;
  background-color: rgb(250,249,250);
}

.no-data-message {
  font-size: 16px;
  color: #777E89;
  margin-top: 24px;
  margin-bottom: 16px;
}

.loading-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-wrapper {
  position: relative;
  top: 0;
  left: 0;
}